<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyGit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49C4888E1CE473AB0014A3DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49C488AA1CE473AB0014A3DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49C488B51CE473AB0014A3DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
